<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">

  <title>{% block title %}{% endblock %} - Mytodo</title>
</head>

<body style="font-family: 'Poppins', sans-serif;">
  {% include "navbar.html" %}

  <div class="content">
    {% block body %}
    {% endblock %}
  </div>

  {% include "footer.html" %}
</body>

</html>
